body {
  background-color: #aaa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #444;
}

#header {
  padding: 70px 5% 50px 5%;
  margin: 0;
  background-color: black;
  border-bottom: solid 10px #FFD700;
}

#header img {
  width: 100%;
}

#c3po {
  border-radius: 180px;
  border: 10px solid #FFD700;
}

#c3po-div {
  padding-bottom: 5%;
  margin-top:20px;
}

p {
  font-size: 16px;
}

#row1 {
  background-color: #ddd;
  padding-top: 60px;
  padding-bottom: 50px;
  margin: 0;
  color: #555;
}

#row2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0;
  margin: 0;
}

#text {
  padding-left: 5%;
  padding-right: 5%;
}

#button {
  background-color: #ddd;
  border: 3px solid #555;
  margin-top: 20px;
  padding: 12px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 14px;
}

#button:hover {
  background-color: #555;
  border-color: #555;
  color: #FFD700;
}

.counter {
  color: #FFD700;
}

/*Sticky Footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px 0;
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  background-color: black;
  border-top: solid 10px #FFD700;
  color: #FFD700;
}
